<style>
    .default {
        padding: .5in;
        font-size: 11px;
        font-family: 'Times', serif;
    }
    .default .head {
        text-align: center;
        font-family: sans-serif;
        font-size: 24px;
    }
    .default .sub-head {
        text-align: center;
        margin-bottom: 16px;
        margin-top: 5px;
    }
    .default p {
        margin: 0px;
        font-weight: bold;
        font-size: 11px;
    }
    .default hr {
        margin: 5px 0px;
        background: black
    }
    .default .item {
        margin-bottom: 10px;
        line-height: 1.6em;
    }
    .default .item .title {
        font-weight: bold;
        font-size: 11px;
    }
</style>
<div class="default">
    <div class="head">
        {{firstName}} {{lastName}}
    </div>
    <div class="sub-head">
        {{data.email}} • {{data.phoneNumber}}
    </div>

    <div ng-if="data.work.length > 0">
        <p>Work</p>
        <hr />
        <div ng-repeat="item in data.work" class="item">
            <span class="title">{{item.title}}</span>,
            {{item.origin}}
            <div class="data">
                {{item.dateFrom | date : 'MMMM yyyy'}} - {{item.dateTo | date : 'MMMM yyyy'}}
            </div>
            {{item.description}}
        </div>
    </div>

    <div ng-if="data.ed.length > 0">
        <p>Education</p>
        <hr />
        <div ng-repeat="item in data.ed" class="item">
            <span class="title">{{item.title}}</span>,
            {{item.origin}}, {{item.date | date : 'MMMM yyyy'}}
        </div>
    </div>

    <div ng-if="data.project.length > 0">
        <p>Projects</p>
        <hr />
        <div ng-repeat="item in data.project" class="item">
            <span class="title">{{item.title}}</span>,
            {{item.dateFrom | date : 'MMMM yyyy'}} - {{item.dateTo | date : 'MMMM yyyy'}}<br />
            {{item.description}}
        </div>
    </div>

    <div ng-if="data.honor.length > 0">
        <p>Honors</p>
        <hr/>
        <div ng-repeat="item in data.honor" class="item">
            <span class="title">{{item.title}}</span>,
            {{item.origin}}, Awarded {{item.date | date : 'MMMM yyyy'}}
        </div>
    </div>

    <div ng-if="data.skills.length > 0">
        <p>Skills</p>
        <hr />
        <span ng-repeat="item in data.skills">
            {{item.title}}<span ng-if="$index != data.skills.length - 1">, </span>
        </span>
    </div>
</div>
