<style>
    .resume-wrapper {
        padding: .5in;
    }
    .title {
        font-size: 50px;
        text-align: center;
    }
    hr {
        border: 1px solid black
    }
    .section-title {
        margin-top: 20px;
        border-bottom: 1px solid black;
        width: 100%;
    }
</style>
<div class="resume-wrapper">
    <div class="title">
        {{firstName}} {{lastName}}
    </div>
    <div class="section-title">Projects</div>
    <div ng-repeat="item in items" ng-if="item.type=='project'">
        <strong>{{item.title}},</strong>
        <i>{{item.dateStart}} - {{item.dateEnd}}</i><br>
        {{item.description}}
    </div>
</div>
