html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: none !important;
  border: none !important;
  outline: none;
  background: #E9E7E6;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #efefef;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}

/*
-----------------------------------------------
                     BUTTONS
-----------------------------------------------
*/
.btn-primary {
  background: #508DF1;
  border: none;
  border-radius: 4px;
  transition: .2s;
  box-shadow: none;
}
.btn-primary:hover {
  background: #6B9EF4;
  transition: .2s;
}
/*
-----------------------------------------------
                     LOGIN
-----------------------------------------------
*/
.login {
  height: 100vh;
  background: #fff;
  margin-left: -60px;
}
.login-area {
  width: 350px;
  height: 100%;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  float: left;
  text-align: center;
  background: #E9E7E6;
}
.logo {
  font-family: 'helvetica neue', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  color: #fff;
}
.login-header {
  font-size: 40px;
  color: #373737;
  font-weight: bold;
  background: #333;
  height: 130px;
  line-height: 130px;
}
.login-body {
  padding: 50px;
}
.login-button {
  width: 100%;
  background: #3B5998;
  height: 40px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border: 4px solid #2C467D;
}
.login-button:hover {
  cursor: pointer;
  background: #4263A8;
}
.login-picture {
  width: calc(100% - 350px);
  float: right;
  height: 100%;
}
/*
-----------------------------------------------
                  MAIN CSS
-----------------------------------------------
*/

a {
	text-decoration: inherit;
	color: inherit;
}

b {
	font-weight: 500;
}

input,
textarea,
button {
	background: none;
	border: none;
	outline: none;
}

button {
	margin: 0;
	font-size: 16px;
}

textarea {
	resize: vertical;
}

input:-ms-input-placeholder { color: #8A95A6; opacity: 0.5 }
input::-webkit-input-placeholder { color: #8A95A6; opacity: 0.5 }
input:-moz-placeholder { color: #8A95A6; opacity: 0.5 }
input::-moz-placeholder { color: #8A95A6; opacity: 0.5 }

/* TODO: Consolidate this shit; */

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #c4cad2;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #508DF1;
  margin-top: -5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c4cad2;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #c4cad2;
  border: none;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #508DF1;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}
input[type=range]::-ms-track {
  width: 300px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
/*
-----------------------------------------------
                  LAYOUT
-----------------------------------------------
*/
.navbar-fixed-left {
  width: 80px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}
.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 80px;
}
body > .container {
  padding: 0px;
}
.row {
  margin: 0;
}
/*
-----------------------------------------------
                  NAV
-----------------------------------------------
*/
.left {
  width: 60px;
  height: 100vh;
  display: block;
  float: left;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 999;
}
.right {
  width: calc(100% - 60px);
  display: block;
  float: right;
}
.side-nav {
  background: #2A3143;
  width: 100%;
  height: 100%;
  color: #F5F5F1;
  text-align: center;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);;
}
.nav-text {
  height: 60px;
  line-height: 60px;
}
.nav-button {
  height: 60px;
  line-height: 60px;
}
.nav-button i {
  margin-top: 25px;
  color: #747B90;
}
.nav-button:hover {
  cursor: pointer;
}
.nav-unselected {
  box-shadow: none;
}
.nav-selected i {
  color: #fff;
}
.nav-label {
  position: absolute;
  left: 75px;
  background: #2A3143;
  z-index: 2147483647;
  display: block;
  color: #fff;
  padding: 5px;
  margin-top: -40px;
  text-align: center;
  display: none;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
}
.nav-label:after {
  content: ' ';
	height: 0;
	position: absolute;
	width: 0;
  top: 2px;
  left: -19px;

	border: 10px solid transparent;
	border-right-color: #2A3143;
}
.hide {
    display: none;
}
.show {
    display: block;
}
/*
-----------------------------------------------
                  HEADER
-----------------------------------------------
*/
.breadcrumb {
  border-radius: 0px;
  height: 50px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

#header {
	width: 100%;
	height: 70px;
	position: relative;
}

#header.light {
	background: none;
	color: #373737;
}

#header.dark {
	background: #373737;
	color: #fff;
}

#logo, #login {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#logo {
	left: 20px;
	color: #508DF1;
  font-weight: bolder;
  font-size: 36px;
}

#login {
	right: 40px;
	height: 35px;
}

#login #profile {
	width: 35px;
	height: 35px;
	float: left;
	border-radius: 35px;
	background: rgba(0,0,0,0.3);
	border: 1px rgba(29,29,29,0.20);
	position: relative;
	margin-right: 10px;
}

#login span {
	display: inline-block;
	float: left;
}

#login #welcome {
	font-size: 14px;
	margin-bottom: 5px;
}

.advanced {
	text-decoration: underline;
	font-size: 12px;
	cursor: pointer;
}
.advanced:hover {
	opacity: 0.6;
}
/*
-----------------------------------------------
                HEADER - NAV
-----------------------------------------------
*/
#nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
  display: block;
  width: 200px;
  height: 30px;
  line-height: 29px;
}

#nav .accomplishment-nav {
  display: block;
  float: left;
  width: 150px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: .2s;
}

#nav .resume-nav {
  display: block;
  float: right;
  width: 90px;
  text-align: center;
  border-left: 1px solid #373737;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: .2s;
}

#nav .small:hover {
  cursor: pointer;
}

#nav .small {
  width: 40px;
}

#header.dark .small:hover {
  background: #fff;
  color: #373737;
}

#header.light .small:hover {
  background: #373737;
  color: #fff;
}

#nav .big {
  font-weight: bold;
  width: calc(100% - 40px);
}

#header.light #nav {
  border: 1px solid #373737;
}

#header.dark #nav {
  border: 1px solid #fff;
}

#header.dark #nav .resume-nav {
  border-left: 1px solid #fff;
}

/*
-----------------------------------------------
                  NEW BUTTON
-----------------------------------------------
*/

#new {
	width: 100%;
	max-width: 440px;
}

#new {
	margin: 0 auto;
	margin-bottom: 18px;
}

#new input {
	width: 100%;
	font-size: 30px;
	font-weight: 500;
	text-align: left;
	color: #8A95A6;
	padding: 5px 20px;
	border-bottom: 1px solid rgba(29,29,29,0.2);
	margin-bottom: 10px;
}

#new span#import {
	margin-left: 20px;
	color: #8A95A6;
}

#accomplishments {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 20px;
	padding-right: 0;
}

/*
-----------------------------------------------
              ACCOMPLISHMENT GRID
-----------------------------------------------
*/

.col {
	margin-right: 20px;
	flex: 1;
}
.col .col-header {
  display: block;
}
.col h1 {
	text-align: left;
	font-weight: 500;
	font-size: 20px;
	color: #8A95A6;
	margin-bottom: 15px;
  float: left;
}
.col .add {
  float: right;
  padding-top: 5px;
  color: #8A95A6;
}
.col .add:hover {
  color: #4A525E;
  cursor: pointer;
}
.col i {
  text-align: right;
}
.add-accomplishment {
  height: 30px;
  width: 100px;
  background: #92C55A;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  border: 2px solid #86B551;
  margin: 10px 0px;
}
.add-accomplishment i {
  margin-right: 5px;
}
.main-search {
  background: #fff;
  height: 30px;
  border-radius: 15px;
  margin: 10px 0px;
  padding: 0px 20px;
  width: 100%;
}
.add-button {
  background: #92C55A;
  height: 20px;
  color: #fff;
  line-height: 20px;
  padding: 0px 5px;
  border-radius: 2px;
}
.add-button i {
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.add-button:hover {
  background: #86B551;
  cursor: pointer;
}
.accomplishment {
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  padding: 18px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.12);
  z-index: 0;
}
.accomplishment .title {
  font-weight: 500;
  font-size: 24px;
  color: #373737;
  text-align: left;
  width: 100%;
  margin-bottom: 8px;
}
.accomplishment .time {
  padding: 4px 12px 3px 12px;
  color: #8A95A6;
  border: 1px solid #8A95A6;
  border-radius: 3px;
  margin: 10px 0px;
  text-align: center;
  display: inline-block;
}
.accomplishment .location {
  font-size: 20px;
  font-weight: 400;
  color: #8A95A6;
}
.accomplishment.project h2,
.accomplishment.honor h2 {
  display: none;
}
.accomplishment.project time,
.accomplishment.honor time {
  float: left;
}
.accomplishment div.priority {
	position: absolute;
	height: 5px;
	bottom: 0;
	left: 0;
	background: #4A90E2;
}
.accomplishment .description {
  line-height: 1.6em;
}
.accomplishment-actions {
    position: absolute;
    top: 0;
    right: -2px;
    width: 40px;
    text-align: center;
    padding-top: 5px;
    color: #949494;
}
.accomplishment-actions i {
  margin-bottom: 5px;
}
.accomplishment-actions i:hover {
  color: #333;
  cursor: pointer;
}
/*
-----------------------------------------------
                  NEW MODAL
-----------------------------------------------
*/

#modal-bg {
	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
}

.new-modal {
	position: fixed;
	z-index: 999999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
}
.work-modal {
  display: none;
}
.ed-modal {
  display: none;
}
.project-modal {
  display: none;
}
.honor-modal {
  display: none;
}
.main-modal {
  display: none;
}
.accomplishment.edit {
	width: 440px;
	padding: 0;
	border-radius: 5px;
}

ul.dropdown,
ul.dropdown li {
	line-height: 30px;
	max-height: 30px;
}

.accomplishment.edit ul.dropdown {
	position: absolute;
	z-index: 999999;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

ul.dropdown {
	list-style-type: none;
	text-align: left;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
}

ul.dropdown.active {
	max-height: none;
}

.accomplishment.edit ul.dropdown.active {
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.accomplishment.edit ul.dropdown {
	background: #fff;
}

ul.dropdown li:hover {
	background: rgba(0,0,0,0.05);
}

ul.dropdown li {
	position: relative;
	font-weight: 500;
	font-size: 14px;
	color: #171717;
	padding: 0 10px;
	cursor: pointer;
}

ul.dropdown.active li {
	cursor: default;
}

ul.dropdown.active li:first-child {
	text-decoration: underline;
}

.field {
	padding: 10px 20px;
	border-bottom: 1px solid rgba(29,29,29,0.2);
}

.field.last {
	border-bottom: none !important;
}

label {
	font-size: 12px;
	color: #8A95A6;
}

input,
textarea {
	color: #373737;
	width: 100%;
}

input.large {
	font-weight: 500;
	font-size: 30px;
}

input.medium {
	font-size: 20px;
	margin-top: 8px;
}

textarea {
	font-size: 12px;
	line-height: 16px;
	height: 60px;
	margin-top: 4px;
}

.field div.tags {
	padding: 8px 0;
}

div.tags {
	font-size: 12px;
	color: #508DF1;
}

div.tags * {
	display: inline-block;
}

div.tags input {
	width: auto;
}

div.tags span.tag {
	margin-right: 4px;
	margin-bottom: 5px;
	padding: 4px 10px;
	border: 1px solid #508df1;
	border-radius: 3px;
}

div.tags span.tag.active {
	background: #508df1;
	color: #fff;
}

input.priority {
	margin: 10px 0;
	display: block;
	width: 100%;
}

.options {
	width: 100%;
	height: 40px;
	position: relative;
}

.options button {
	height: 100%;
	color: #000000;

	transition: 0.1s background ease-in-out;
	-webkit-transition: 0.1s background ease-in-out;
}

.accomplishment.edit .options button:nth-child(1) { width: 50% }
.accomplishment.edit .options button:nth-child(2) { width: 50% }

.options button.good:hover { background: #6fa1f4 }
.options button.good {
	background: #508df1;
	color: #fff;
}

.options button.bad:hover { background: #ff8787 }
.options button.bad {
	background: #ff6565;
	color: #fff;
}

.options button.neutral:hover { background: #fff }
.options button.neutral {
	background: #f5f5f1;
	color: #000;
}
.tabs {
  width: 100%;
  height: 40px;
  position: relative;
}
.tabs button {
  height: 100%;
  width: 25%;
  margin: 0px;
  padding: 0px;
}
.tabs button.selected {

}
.tabs button.unselected {
  background: #efefef;
}
/*
-----------------------------------------------
               INFO PAGE
-----------------------------------------------
*/
.info-top-tabs {
    width: 100%;
    background: #fff;
    height: 60px;
    padding-left: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
}
.info-top-tabs .item {
  display: inline-block;
  height: 60px;
  padding: 0px 10px;
  line-height: 60px;
}
.info-top-tabs .item:hover {
  cursor: pointer;
}
.info-top-tabs .active {
  border-bottom: 2px solid #508DF1;
}
.info {
    padding: 10px;
}
.info-card {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
  display: block;
  padding: 10px;
}
.info-card-header {
  margin-bottom: 10px;
}
.info-input {
  border: 2px solid #EDECEB;
  padding: 5px;
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.info-input:focus {
  border: 2px solid #7F7B7E;
}
.info-save {
  background: #508DF1;
  height: 30px;
  width: 100px;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  border: 2px solid #3769BD;
  color: #fff;
}
.info-save:hover {
  background: #69A0FA;
  border: 2px solid #508DF1;
}
/*
-----------------------------------------------
              ACCOUNT PAGE
-----------------------------------------------
*/
.account {
  padding: 10px;
}
.panel {
  padding: 10px;
}
.account-panel-header {
  margin-bottom: 10px;
}
.account-input {
  border: 2px solid #EDECEB;
  padding: 5px;
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.account-input:focus {
  border: 2px solid #7F7B7E;
}
.account-save {
  background: #508DF1;
  height: 30px;
  width: 100px;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  border: 2px solid #3769BD;
  color: #fff;
}
.account-save:hover {
  background: #69A0FA;
  border: 2px solid #508DF1;
}
/*
-----------------------------------------------
               RESUME TEMPLATES
-----------------------------------------------
*/

#templates {
	width: auto;
	background: #373737;
	padding: 20px;
	padding-top: 10px;
	overflow-y: scroll;
	white-space: nowrap;
	margin-bottom: 20px;
}

.template {
	height: 280px;
	width: 200px;
	overflow: hidden;
	display: inline-block;
	margin-right: 20px;
	white-space: normal;
	position: relative;

	transition: 0.3s width ease-in-out;
}

#templates .template:last-child {
	margin-right: none;
}

.template.active {
	width: 420px;
}

.preview {
	background: #fff;
}

.template .preview {
	height: 100%;
	width: 200px; /* auto */
	margin-right: 20px;
	display: inline-block;
	position: relative;
	z-index: 2;
}

.template .info {
	max-width: 200px;
	position: absolute;
	top: 0;
	right: 0;
}
.template .info h1 {
	font-weight: 500;
	font-size: 35px;
	color: #fff;
	margin-bottom: 8px;
}
.template .info p {
	font-size: 12px;
	color: #FFFFFF;
	line-height: 18px;
	max-width: 200px;
	margin-bottom: 10px;
}
.template .info button {
	width: 200px;
	height: 40px;
	background: #ffe728;
	border-radius: 5px;
	margin-bottom: 5px;
}
.template .info button:hover {
  background: #E3CD20;
}
.template .info a.advanced {
	color: #fff;
}

/*
-----------------------------------------------
                RESUME PREVIEW
-----------------------------------------------
*/

#resume-container {
	width: 600px;
	margin: 0 auto;
	padding-bottom: 40px;
}

#resume-container #resume-options {
	position: relative;
	margin-bottom: 13px;
}

#resume-container #resume-options ul.dropdown {
	position: absolute;
	right: 0;
	top: -2px;
}

#resume-container #preview-wrapper {
	box-shadow: 0 5px 16px rgba(0,0,0,0.15);
	margin-bottom: 20px;
}

#resume-container .preview {
	width: 100%;
	height: 840px;
}

#resume-container #preview-wrapper .options button:nth-child(1) { width: 30% }
#resume-container #preview-wrapper .options button:nth-child(2) { width: 30% }
#resume-container #preview-wrapper .options button:nth-child(3) { width: 40% }

#resume-container h1 {
	font-weight: 500;
	font-size: 30px;
	color: #373737;
	text-align: center;
	margin-bottom: 6px;
}
#resume-container h4 {
	font-weight: 400;
	font-size: 16px;
	color: #8A95A6;
	text-align: center;
}


/*
-----------------------------------------------
              RESPONSIVE STYLES
-----------------------------------------------
*/

@media screen and (max-width: 340px) {
	#new input {
		font-size: 20px;
	}
}
@media screen and (max-width: 700px) {
	#header {
		height: auto;
	}
	#logo {
		display: none;
	}
	#login {
		display: none;
	}
	#nav {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		position: relative;
		transform: none;
		top: 0;
		left: 0;
    border-radius: 0px;
    height: 50px;
    line-height: 50px;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    font-size: 20px;
	}
  #nav .small {
    width: 70px;
    border-radius: 0px;
  }
  #nav .big {
    width: calc(100% - 70px);
  }
	#nav li {
		flex-shrink: 1;
		flex-grow: 1;
		text-align: center;
		border-radius: 0 !important;
		border: none !important;
		padding: 10px 0;
	}
}
/*
-----------------------------------------------
                     FONTS
-----------------------------------------------
*/
.small-caps {
  font-weight: 800;
  font-size: 11px;
  letter-spacing: .1px;
  text-transform: uppercase;
}
.small-caps-light {
  font-weight: 700;
  font-size: 10px;
  letter-spacing: .1px;
  text-transform: uppercase;
}
.section-label {
  margin: 10px;
  color: RGBA(55, 55, 55, 1.00);
}
.gray {
  color: #7F7B7E;
}
