.login {
    height: 100vh;
    background: #fff;
    margin-left: -60px;
}
.login-box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-100px);
}
.login-logo {
    font-family: 'Pacifico';
    color: #488BEF;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: -15px;
}
.login-button {
    width: 100%;
    background: #3B5998;
    height: 40px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border: 4px solid #2C467D;
    text-align: center;
    border-radius: 4px;
}
.login-button:hover {
    cursor: pointer;
    background: #4263A8;
}
