<div class="accomplishment">
    <div class="accomplishment-actions">
        <i class="fa fa-trash-o" aria-hidden="true" ng-click="delete(accomplishment)"></i>
    </div>
    <h1>{{accomplishment.title}}</h1>
    <div class="location">
        {{accomplishment.origin}}
    </div>
    <div class="time">
        {{accomplishment.dateStart}} -
        <span ng-if="accomplishment.dateEnd==null">
            Present
        </span>
        {{accomplishment.dateEnd}}
    </div>
    <div class="description">
        {{accomplishment.description}}
    </div>


    <div class="priority" style="width: {{accomplishment.importance}}%"></div>

</div>
