<div id="modal-bg" class="ed-modal"></div>
<div class="accomplishment new-modal edit ed-modal">
    <center>
        Add Education Accomplishment
    </center>
    <div class="field">
        <label>Degree Recieved</label>
        <input class="large" placeholder="B.S. in Computer Science" type="text" ng-model="formData.title">
    </div>
    <div class="field">
        <label>Date Recieved</label>
        <input class="medium" placeholder="May 2019" type="text" ng-model="formData.date">
    </div>
    <div class="field">
        <label>Institution</label>
        <input class="medium" placeholder="Purdue University" type="text" ng-model="formData.origin">
    </div>
    <div class="field">
        <label>Honors, Clubs, Awards</label>
        <textarea ng-model="formData.description" placeholder="Purdue Hackers, PAPA" type="text"></textarea>
    </div>
    <div class="field last">
        <label>Priority</label>
        <input class="priority" type="range" value="0" ng-model="formData.importance">
    </div>
    <div class="options">
        <button class="neutral" ng-click="hideModal('ed')">Cancel</button><button class="good" ng-click="save('ed')">Save</button>
    </div>
</div>
