<div id="modal-bg" class="main-modal"></div>
<div class="accomplishment new-modal edit main-modal">
    <div class="tabs">
        <button ng-click="setTab('work')" ng-class="workClass" class="small-caps-light gray">Work</button>
        <button ng-click="setTab('project')" ng-class="projectClass" class="small-caps-light gray" style="margin-left: -4px;">Project</button>
        <button ng-click="setTab('ed')" ng-class="edClass" class="small-caps-light gray" style="margin-left: -4px;">Education</button>
        <button ng-click="setTab('honor')" ng-class="honorClass" class="small-caps-light gray" style="margin-left: -4px;">Honor</button>
    </div>
    <div class="small-caps-light" style="color: #ED513F; margin: 10px 20px;">{{errorMessage}}</div>
    <div ng-if="mainType=='work'">
        <div class="field">
            <label>Job Title</label>
            <input class="large" placeholder="Software Engineer" type="text" ng-model="formData.title">
        </div>
        <div class="field">
            <label>Workplace</label>
            <input class="medium" placeholder="Google" type="text" ng-model="formData.origin">
        </div>
        <div class="field">
            <label>Employeed From</label>
            <div class="datepicker">
                <md-datepicker ng-model="formData.dateFrom" md-placeholder="Enter date"></md-datepicker>
            </div>
            <label>To (Picking today assumes you still work here)</label>
            <div class="datepicker">
                <md-datepicker ng-model="formData.dateTo" md-placeholder="Enter date"></md-datepicker>
            </div>
        </div>
        <div class="field">
            <label>Description and Accomplishments</label>
            <textarea ng-model="formData.description" placeholder="Created new constant time sorting algorithm. Worked with a team of six to build a Twitter competetor." type="text"></textarea>
        </div>
        <div class="field last">
            <label>Priority</label>
            <input class="priority" type="range" value="0" ng-model="formData.importance">
        </div>
    </div>

    <div ng-if="mainType=='project'">
        <div class="field">
            <label>Project Name</label>
            <input class="large" placeholder="Seevee" type="text" ng-model="formData.title">
        </div>
        <div class="field">
            <label>Started on</label>
            <div class="datepicker">
                <md-datepicker ng-model="formData.dateFrom" md-placeholder="Enter date"></md-datepicker>
            </div>
            <label>And finished</label>
            <div class="datepicker">
                <md-datepicker ng-model="formData.dateTo" md-placeholder="Enter date"></md-datepicker>
            </div>
        </div>
        <div class="field">
            <label>Project Description</label>
            <textarea ng-model="formData.description" placeholder="Purdue Hackers, PAPA" type="text" style="height: 141px"></textarea>
        </div>
        <div class="field last">
            <label>Priority</label>
            <input class="priority" type="range" value="0" ng-model="formData.importance">
        </div>
    </div>

    <div ng-if="mainType=='ed'">
        <div class="field">
            <label>Degree Recieved</label>
            <input class="large" placeholder="B.S. in Computer Science" type="text" ng-model="formData.title">
        </div>
        <div class="field">
            <label>Date Recieved</label>
            <div class="datepicker">
                <md-datepicker ng-model="formData.date" md-placeholder="Enter date"></md-datepicker>
            </div>
        </div>
        <div class="field">
            <label>Institution</label>
            <input class="medium" placeholder="Purdue University" type="text" ng-model="formData.origin">
        </div>
        <div class="field">
            <label>Honors, Clubs, Awards</label>
            <textarea ng-model="formData.description" placeholder="Purdue Hackers, PAPA" type="text" style="min-height: 122px"></textarea>
        </div>
        <div class="field last">
            <label>Priority</label>
            <input class="priority" type="range" value="0" ng-model="formData.importance">
        </div>
    </div>

    <div ng-if="mainType=='honor'">
        <div class="field">
            <label>Title</label>
            <input class="large" placeholder="Software Engineer" type="text" ng-model="formData.title">
        </div>
        <div class="field">
            <label>Award Date</label>
            <div class="datepicker">
                <md-datepicker ng-model="formData.date" md-placeholder="Enter date"></md-datepicker>
            </div>
        </div>
        <div class="field">
            <label>Awarded By</label>
            <input class="medium" placeholder="Nobel" type="text" ng-model="formData.origin">
        </div>
        <div class="field">
            <label>Description</label>
            <textarea ng-model="formData.description" style="min-height: 122px" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum officia, magnam ipsam temporibus. Saepe obcaecati voluptas magni ab qui dolorem, eos nobis maiores ducimus ipsum, animi voluptatum repudiandae vitae impedit cumque, laborum eum, nam recusandae aliquam rerum eaque accusantium tempore ex? Maiores debitis explicabo non assumenda beatae illum quia est." type="text"></textarea>
        </div>
        <div class="field last">
            <label>Priority</label>
            <input class="priority" type="range" value="0" ng-model="formData.importance">
        </div>
    </div>


    <div class="options">
        <button class="neutral small-caps-light gray" ng-click="newHide()">Cancel</button><button class="good small-caps-light" ng-click="newSave()">Save</button>
    </div>
</div>
