<div id="modal-bg" class="project-modal"></div>
<div class="accomplishment new-modal edit project-modal">
    <center>
        <span style="text-transform: capitalize">{{modalState}} Education Accomplishment</span>
    </center>
    <div class="field">
        <label>Project Name</label>
        <input class="large" placeholder="Seevee" type="text" ng-model="formData.title">
    </div>
    <div class="field">
        <label>Date</label>
        <input class="medium" placeholder="May 2019 - Jul 2016" type="text" ng-model="formData.date">
    </div>
    <div class="field">
        <label>Project Description</label>
        <textarea ng-model="formData.description" placeholder="Purdue Hackers, PAPA" type="text"></textarea>
    </div>
    <div class="field last">
        <label>Priority</label>
        <input class="priority" type="range" value="0" ng-model="formData.importance">
    </div>
    <div class="options">
        <button class="neutral" ng-click="hideModal('project')">Cancel</button><button class="good" ng-click="save('project')">Save</button>
    </div>
</div>
