<div class="accomplishment">
    <h1>{{accomplishment.title}}</h1>
    <div class="location">
        {{accomplishment.place}}
    </div>
    <div class="time">
        {{accomplishment.dateStart}} -
        <span ng-if="accomplishment.dateEnd==null">
            Present
        </span>
        {{accomplishment.dateEnd}}
    </div>
    <div class="description">
        {{accomplishment.description}}
    </div>


    <div class="priority" style="width: {{accomplishment.importance}}%"></div>

</div>
