<div id="modal-bg" class="work-modal"></div>
<div class="accomplishment new-modal edit work-modal">
    <center>
        <span style="text-transform: capitalize">{{modalState}} Education Accomplishment</span>
    </center>
    <div class="field">
        <label>Job Title</label>
        <input class="large" placeholder="Software Engineer" type="text" ng-model="formData.title">
    </div>
    <div class="field">
        <label>Workplace</label>
        <input class="medium" placeholder="Google" type="text" ng-model="formData.origin">
    </div>
    <div class="field">
        <label>Dates Employeed</label>
        <input class="medium" placeholder="May 2016 - Aug 2016" type="text" ng-model="formData.date">
    </div>
    <div class="field">
        <label>Description and Accomplishments</label>
        <textarea ng-model="formData.description" placeholder="Created new constant time sorting algorithm. Worked with a team of six to build a Twitter competetor." type="text"></textarea>
    </div>
    <div class="field last">
        <label>Priority</label>
        <input class="priority" type="range" value="0" ng-model="formData.importance">
    </div>
    <div class="options">
        <button class="neutral small-caps" ng-click="hideModal('work')">Cancel</button><button class="good small-caps" ng-click="save('work')">Save</button>
    </div>
</div>
