html
  head
    title Default
    <style>
      include style.css
    </style>
  body
    div.default
      div.head= firstName + " " + lastName
      div.sub-head= phoneNumber + " • " + email

      if project
        p Projects
        hr
        each p in project
          div.item
            span.title #{p.title}
            div.description #{p.description}
