.default {
    padding: .5in;
    font-size: 11px;
    font-family: 'Times', serif;
}
.default .head {
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
}
.default .sub-head {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 5px;
}
.default p {
    margin: 0px;
    font-weight: bold;
    font-size: 11px;
}
.default hr {
    margin: 5px 0px;
    background: black
}
.default .item {
    margin-bottom: 10px;
    line-height: 1.6em;
}
.default .item .title {
    font-weight: bold;
}
