<div class="page-toolbar">
	<button class="btn-success" id="export-button" ng-click="render()">Download</button>
	<corner-user></corner-user>
</div>
<div id="templates">
	<div ng-repeat="preview in templates" class="template active">
			<div class="preview" style="overflow: hidden"><div compile="preview.html" style="width: 570px; height: 798px; transform: scale(0.35, 0.35); transform-origin: top left; overflow: hidden; scrolling: no"></div></div>
			<div class="info">
				<h1>{{preview.title}}</h1>
				<p>{{preview.description}}</p>
				<button ng-click="setTemplate(preview)" class="small-caps-light">Set Theme</button>
			</div>
	</div>
</div>
<div id="resume-container">
	<div class="section-label small-caps-light gray">Resume Preview</div>

	<div id="preview-wrapper">
		<div class="preview">
			<div compile="template.html"></div></br/>
		</div>
	</div>
</div>
<script src="scripts/resumes.js"></script>
</body>
