#templates {
    width: auto;
    background: #373737;
    padding: 20px 25px;
    overflow-y: scroll;
    white-space: nowrap;
}
.template {
    height: 280px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    margin-right: 20px;
    white-space: normal;
    position: relative;
    transition: 0.3s width ease-in-out;
}
#templates .template:last-child {
    margin-right: none;
}
.template.active {
    width: 420px;
}
.preview {
    background: #fff;
}
.template .preview {
    height: 100%;
    width: 200px;
    /* auto */

    margin-right: 20px;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.template .info {
    max-width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}
.template .info h1 {
    font-weight: 500;
    font-size: 35px;
    color: #fff;
    margin-bottom: 8px;
}
.template .info p {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 18px;
    max-width: 200px;
    margin-bottom: 10px;
}
.template .info button {
    width: 100%;
    height: 40px;
    background: #ffe728;
    border-radius: 5px;
    margin-bottom: 5px;
}
.template .info button:hover {
    background: #E3CD20;
}
.template .info a.advanced {
    color: #fff;
}
#resume-container {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
}
#resume-container #resume-options {
    position: relative;
    margin-bottom: 13px;
}
#resume-container #resume-options ul.dropdown {
    position: absolute;
    right: 0;
    top: -2px;
}
#resume-container #preview-wrapper {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
#resume-container .preview {
    width: 100%;
    height: 840px;
}
#resume-container #preview-wrapper .options button:nth-child(1) {
    width: 30%
}
#resume-container #preview-wrapper .options button:nth-child(2) {
    width: 30%
}
#resume-container #preview-wrapper .options button:nth-child(3) {
    width: 40%
}
#resume-container h1 {
    font-weight: 500;
    font-size: 30px;
    color: #373737;
    text-align: center;
    margin-bottom: 6px;
}
#resume-container h4 {
    font-weight: 400;
    font-size: 16px;
    color: #8A95A6;
    text-align: center;
}
