<div class="accomplishment">
    <div class="accomplishment-actions">
        <i class="fa fa-pencil" aria-hidden="true" ng-click="edit(accomplishment)"></i><br/>
        <i class="fa fa-trash-o" aria-hidden="true" ng-click="delete(accomplishment)"></i>
    </div>
    <div class="title">{{accomplishment.title}}</div>
    <div ng-if="accomplishment.type != 'project'" class="location">
        {{accomplishment.origin}}
    </div>
    <div class="time small-caps-light">
        <span ng-if="accomplishment.type == 'work'">{{accomplishment.dateStart}} -</span>
        <span ng-if="accomplishment.type == 'project'">{{accomplishment.dateStart}} -</span>
        <span ng-if="accomplishment.dateEnd==null">
            Present
        </span>
        {{accomplishment.dateEnd}}
    </div>
    <div class="description">
        {{accomplishment.description}}
    </div>
    <div class="priority" style="width: {{accomplishment.importance}}%"></div>
</div>
