<div class="side-nav" ng-controller="headerCtrl">
    <div class="nav-text">
        <img src="img/logo.png" width="60px" style="margin-top: 5px"/>
    </div>
    <div class="nav-button" ng-class="accomplishmentClass" ng-click="go('/')" id="accomplishment-nav-button">
        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-label small-caps-light" id="accomplishment-nav-label">
        Accomplishments
    </div>

    <div class="nav-button" ng-class="infoClass" ng-click="go('/info')" id="info-nav-button">
        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-label small-caps-light" id="info-nav-label">
        Info
    </div>

    <div class="nav-button" ng-class="resumeClass" ng-click="go('/resumes')" id="resume-nav-button">
        <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-label small-caps-light" id="resume-nav-label">
        Resume
    </div>

    <div class="nav-button" ng-class="accountClass" ng-click="go('/account')" id="account-nav-button">
        <i class="fa fa-user fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-label small-caps-light" id="account-nav-label">
        Account
    </div>
</div>
