<!-- <div ng-repeat="accomplishment in accomplishments">
    <accomplishment-card accomplishment="accomplishment"></accomplishment-card>
</div> -->
<div id="accomplishments">
    <div class="col">
        <div class="col-header">
            <h1>Work</h1>
            <div class="add" ng-click="addNew('work')"><i class="fa fa-plus-square-o"></i></div>
        </div>
        <div ng-repeat="accomplishment in accomplishments" ng-if="accomplishment.type=='work'">
			<accomplishment-card accomplishment="accomplishment"></accomplishment-card>
		</div>
    </div>
    <div class="col">
        <div class="col-header">
            <h1>Projects</h1>
            <div class="add" ng-click="addNew('project')"><i class="fa fa-plus-square-o"></i></div>
        </div>
        <div ng-repeat="accomplishment in accomplishments" ng-if="accomplishment.type=='project'">
			<accomplishment-card accomplishment="accomplishment"></accomplishment-card>
		</div>
    </div>
    <div class="col">
        <div class="col-header">
            <h1>Education</h1>
            <div class="add" ng-click="addNew('education')"><i class="fa fa-plus-square-o"></i></div>
        </div>
        <div ng-repeat="accomplishment in accomplishments" ng-if="accomplishment.type=='ed'">
			<accomplishment-card accomplishment="accomplishment"></accomplishment-card>
		</div>
    </div>
    <div class="col">
        <div class="col-header">
            <h1>Honors</h1>
            <div class="add" ng-click="addNew('honor')"><i class="fa fa-plus-square-o"></i></div>
        </div>
        <div ng-repeat="accomplishment in accomplishments" ng-if="accomplishment.type=='honor'">
			<accomplishment-card accomplishment="accomplishment"></accomplishment-card>
		</div>
    </div>
</div>
