<div class="side-nav" ng-controller="headerCtrl" ng-class="display">
    <div class="nav-text">
        <div class="nav-logo">S</div>
    </div>
    <div class="nav-button" ng-class="accomplishmentClass" ng-click="go('/')" id="accomplishment-nav-button">
        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-sub-label" ng-class="accomplishmentClass" ng-click="go('/')">
        Edit
    </div>


    <div class="nav-button" ng-class="infoClass" ng-click="go('/info')" id="info-nav-button">
        <i class="fa fa-user fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-sub-label" ng-class="infoClass" ng-click="go('/info')">
        You
    </div>

    <div class="nav-button" ng-class="resumeClass" ng-click="go('/resumes')" id="resume-nav-button">
        <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-sub-label" ng-class="resumeClass" ng-click="go('/resumes')">
        Resumes
    </div>

    <!-- <div class="nav-button" ng-class="pagesClass" ng-click="go('/pages')" id="info-nav-button">
        <i class="fa fa-desktop fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-sub-label" ng-class="pagesClass" ng-click="go('/pages')">
        Pages
    </div> -->


    <div class="nav-button" ng-class="accountClass" ng-click="go('/account')" id="account-nav-button">
        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-sub-label" ng-class="accountClass" ng-click="go('/account')">
        Account
    </div>
</div>
