<div id="templates">
	<div ng-repeat="template in templates" class="template active">
			<div class="preview"></div>
			<div class="info">
				<h1>{{template.title}}</h1>
				<p>{{template.description}}</p>
				<button ng-click="setTemplate(template)">Set Theme...</button>
			</div>
	</div>
</div>

<div id="resume-container">
	<div id="preview-wrapper">
	<div class="preview">
		<div compile="template.html"></div>
	</br/>
	</div>
		<div class="options">
			<button class="good" style="width: 100%">Export</button>
		</div>
	</div>
</div>
<script src="scripts/resumes.js"></script>
</body>
