<div class="row" style="margin-top: 10px">
    <div class="col-md-12">
        <div class="panel">
            <table class="table">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </thead>
                <tr ng-repeat="x in users">
                    <td>{{ x.firstName }}</td>
                    <td>{{ x.lastName }}</td>
                    <td>{{ x.email }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
