<div class="login">
  <div class="row">
    <div class="login-area">
      <div class="login-header">
        <!-- <img src="img/logo.png" class="login-img"/> -->
        <span class="logo">seevee</span>
      </div>
      <div class="login-body">
        <div class="login-button" ng-click="login()">
          Log in with facebook
        </div>
      </div>
    </div>

    <!-- <div class="login-picture" style="background: url(https://source.unsplash.com/category/nature/1000x1000); background-repeat: no-repeat; background-size: cover"> -->
    <div class="login-picture" style="background: url(http://i.imgur.com/G4C4a2x.jpg); background-repeat: no-repeat; background-size: cover">
    </div>
  </div>
</div>
