<div class="row" style="padding: 25px;">
    <div class="small-caps section-header">
        Name
    </div>
    <input class="medium" />
    <div class="small-caps section-header">
        Webiste
    </div>
    <input class="medium" />
    <div class="small-caps section-header">
        LinkedIn
    </div>
    <input class="medium" />
    <div class="small-caps section-header">
        Github
    </div>
    <input class="medium" />
    <div class="small-caps section-header">
        Industry
    </div>
    <input class="medium" />
</div>
