<div class="side-nav" ng-controller="headerCtrl">
    <div class="nav-text">
        <span style="color: #FDFD6F">seevee</span>
        <!-- <img src="../img/logo.png" width="60px" height="auto" style="margin-top: 10px;"/> -->
    </div>
    <div class="nav-button" ng-click="go('/')">
        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-button" ng-click="go('/resumes')">
        <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
    </div>
    <div class="nav-button" ng-click="go('/account')">
        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
    </div>
</div>
