<div ng-include="'../templates/templates.work.html'"></div>
<div ng-include="'../templates/templates.education.html'"></div>
<div ng-include="'../templates/templates.project.html'"></div>
<div ng-include="'../templates/templates.honor.html'"></div>
<div class="row" style="padding: 10px">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-6">
        Work
      </div>
      <div class="pull-right">
        <div class="add" ng-click="showModal('work', 'new')"><i class="fa fa-plus-square-o"></i></div>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="accomplishment in accomplishments" ng-if="accomplishment.type=='work'">
        <div ng-include="'partials/partials.accomplishment-card.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-6">
        Project
      </div>
      <div class="pull-right">
        <div class="add" ng-click="showModal('project', 'new')"><i class="fa fa-plus-square-o"></i></div>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="accomplishment in accomplishments" ng-if="accomplishment.type=='project'">
        <div ng-include="'partials/partials.accomplishment-card.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-6">
        Education
      </div>
      <div class="pull-right">
        <div class="add" ng-click="showModal('ed', 'new')"><i class="fa fa-plus-square-o"></i></div>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="accomplishment in accomplishments" ng-if="accomplishment.type=='ed'">
        <div ng-include="'partials/partials.accomplishment-card.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-6">
        Honor
      </div>
      <div class="pull-right">
        <div class="add" ng-click="showModal('honor', 'new')"><i class="fa fa-plus-square-o"></i></div>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="accomplishment in accomplishments" ng-if="accomplishment.type=='honor'">
        <div ng-include="'partials/partials.accomplishment-card.html'"></div>
      </div>
    </div>
  </div>
</div>
