<div id="header" ng-class="headerTheme" ng-controller="HeaderCtrl" ng-show="showMenu">
	<div id="logo">seevee</div>
	<ul id="nav">
		<div class="accomplishment-nav" ng-class="accomplishmentClass" ng-click="setAccomplishment(); go('/')">
			<span ng-if="path=='home'">
				Accomplishments
			</span>
			<span ng-if="path!='home'">
				<i class="fa fa-list"></i>
			</span>
		</div>
		<div class="resume-nav" ng-class="resumeClass" ng-click="setResume(); go('/resumes')">
			<span ng-if="path=='resumes'">
				Resumes
			</span>
			<span ng-if="path!='resumes'">
				<i class="fa fa-file-o"></i>
			</span>
		</div>
		<!-- <li id="accomplishments-link" ng-click="setAccomplishment(); go('/')">Accomplishments</a></li><li class="select" id="resumes-link" ng-click="setResume(); go('/resumes')">Resumes</li> -->
	</ul>
	<div id="login">
		<div id="profile"></div>
		<span id="welcome">Logged in as <b>{{name}}</b></span><br/>
		<a href="javascript:" ng-click="logout()"><span id="options" class="advanced">Account</span></a>
		&nbsp;
		<a href="javascript:" ng-click="logout()"><span id="options" class="advanced">Logout</span></a>
	</div>
</div>
